/* blog */
.blog__content {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blog__card {
  width: 30%;
  margin: 10px 0;
  text-align: left;
}
.blog__card__img {
  width: 100%;
}
.blog__card__date {
  font-size: 16px;
}
.blog__card__topic {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .blog__content {
    flex-direction: column;
  }
  .blog__card {
    width: 100%;
    margin: 10px 0;
  }
}