body {
  font-family:  "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", 
                "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
}

.common__section {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  z-index: 0;
}

.common__content {
  width: 80%;
  margin: auto;
}

.common__topic {
  font-size: 32px;
  margin: 20px 0;
}

.common__text {
  font-size: 16px;
  margin: 20px 0;
}

.common__button {
  width: 300px;
  margin: 20px 0;
  padding: 10px 0;
  color: #fff;
  background-color: #cd0323;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}