body {
  font-family:  "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", 
                "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.common__firstview {
  width: 100%;
  padding: 100px 0;
  background: url("../img/mv.png") center / cover;
  text-align: center;
  vertical-align: middle;
}

.common__firstview h1 {
  color: #fff;
}

.common__section {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  z-index: 0;
}

.common__content {
  width: 80%;
  margin: auto;
}

.common__topic {
  font-size: 32px;
  margin: 20px 0;
}

.common__text {
  font-size: 16px;
  margin: 20px 0;
}

.common__button {
  width: 300px;
  margin: 20px 0;
  padding: 10px 0;
  color: #fff;
  background-color: #cd0323;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}