.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 1;
}

.header__title {
  font-size: 32px;
  margin-left: 30px;
}
.header__title a {
  color: black;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__nav__listitem {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

.header__nav__listitem a {
  color: black;
}

/* menu */
.header__menu {
  display: none;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  margin: 30px;
}

.header__menu__line--top,
.header__menu__line--middle,
.header__menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.header__menu__line--top {
  top: 0;
}
.header__menu__line--middle {
  top: 14px;
}
.header__menu__line--bottom {
  bottom: 0;
}

.header__menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.header__menu.open span:nth-of-type(2) {
  opacity: 0;
}
.header__menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

/* scroll-top button */
.scroll-top {
  background-color: grey;
  color: #fff;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: calc(16px * 3);
  height: calc(16px * 3);
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .header__nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: -100%;
    transition: 0.5s;
    text-align: center;
    background-color: #fff;
  }
  .header__nav ul{
    width: 100%;
    display: inline-block;
    padding-top: 70px;
  }
  .header__nav__listitem {
    margin: 30px 0;
    font-weight: normal;
  }
  .header__nav__listitem a{
    color: #0033cc;
  }
  .in {
    transform: translateX(100%);
    z-index: 10;
  }

  .header__menu {
    display: inline-block;
    z-index: 100;
  }

  .off {
    opacity: 0;
  }
}