<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
  <footer class="footer">
    <small>&copy; 2020 TECH inc.</small>
    <ul class="footer__link">
      <li class="footer__link__listitem"><a href="index.htnl">ホーム</a></li>
      <li class="footer__link__listitem"><a href="service.htnl">事業内容</a></li>
      <li class="footer__link__listitem"><a href="blog.htnl">社員ブログ</a></li>
      <li class="footer__link__listitem"><a href="company.htnl">会社概要</a></li>
    </ul>
  </footer>
</body>
</html>